<html>

<head>
    <meta charset="utf-8">
    <title>Student Portal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    </script>

</head>
<style>
    body,
    h1 {
        font-family: "Raleway", sans-serif
    }
    
    body,
    html {
        height: 100%
    }
    
    .bgimg {
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
    
    .top {
        background-color: #333;
        overflow: hidden;
    }
    
    .top a {
        float: left;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
    }
    
    .top a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .top a.active {
        background-color: #A64564;
        color: white;
    }
    
    .pp {
        margin-top: 95px;
        font-size: 23px;
        text-align: center;
    }
    
    .ppp {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
</style>

<body>
    <div style="padding-top: 7px;"></div>
    <div class="top">
        <a href="/logintestapp/loggedin/">Dashboard</a>
        <a class="active" href="/dashboard1/addstockinfo/">Add Stock</a>
        <a href="/dashboard1/stocks/">View and Manage Stock</a>
        <a href="/dashboard1/feedbackinfo/">Feedback</a>
        <a href="/logintestapp/logout/">Logout</a>
    </div>
    <div class="teal lighten-2">
        <h6 style="padding-top: 7px;color:black;" class="center large">Welcome {{full_name}} !!! you are logged in !!</h6>
        <div id="chart" class="card-panel lighten-2 z-depth-1" style="background: #333;color: white;">
            <table>
            <tr class="row">
            <td class="col s6">
            <form class="form-inline my-2 my-lg-0" action="/dashboard1/searchname/">
                <table>
                <tr class="row">
                <td class="col s1">
                <i class="material-icons white">search</i>
                </td>
                <td class="col s9">
                    <input style="color: white;" class="form-control mr-sm-1" type="search" placeholder="Search by names" aria-label="Search" name="searchname" >
                </td> 
                <td class="col s2">   
                    <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="search">
                </td>
                </tr>
                </table>
            </form>
            </td>
            <td class="col s6">
            <form class="form-inline my-2 my-lg-0" action="/dashboard1/searchcat/">
                <table>
                <tr class="row">
                <td class="col s1">
                <i class="material-icons white">search</i>
                </td>
                <td class="col s9">
                    <input style="color: white;" class="form-control mr-sm-1" type="search" placeholder="Search by catagories" aria-label="Search" name="searchcat" >
                </td> 
                <td class="col s2">   
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </td>
                </tr>
                </table>
            </form>
            </td>
            </tr>
            </table>
        </div>
    </div>
    <div class="row">

        <div class="col s4 " style="height: 95%;background: #333;">
            
            <div class="card center" style="height: 50%; padding-top: 35px; margin-left: 35px; margin-right: 35px; margin-top: 10%;">
                <i class="indio-text text-lighten-1 large material-icons" style="padding-top: 5px">assignment</i>
                <!--Card image-->
                <div class="view overlay">
                    <h1 id="day"></h1>
                    <!--<img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>-->
                </div>
                <!--Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Category & Title-->
                    <!--
				<a href="" class="grey-text">
                  <h5>Shirt</h5>
                </a>
				-->
                    <h4>
                        <strong>
                    <p class="dark-grey-text" id="date">
                      <!--<span class="badge badge-pill danger-color">NEW</span>-->
                    </p>
                  </strong>
                    </h4>

                    <!--<h4 class="font-weight-bold blue-text">
                        <strong>120$</strong>
                    </h4>
                    -->
                </div>
                <!--Card content-->

            </div>
            <p style="color: white;margin-top: 10%;" class=' container center Trebuchet condenced'>
            God lets you be successful because he trusts you that you will do the right thing with it. Now, does he get disappointed often? All the time, because people get there and they forget how they got it.
            </p><p style="color: white;" class='container center Trebuchet condenced'><b>Steve Harvey</b></p>
        </div>
        <div class="col s8">

            {% if form.errors %}
                <p class="error"> Invalid Stock info </p>
            {% endif %}

            <div class="row" style= "padding-top: 4%;padding-right: 4%;padding-left: 4%;">
                <form action="../addstockdata/" method="POST" class="col s12">{% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="stockname" id="stock_name" type="text" required placeholder="Enter stock name">
                            <label for="stock_name">Stock Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="stock_id1" type="text" name="stockid" required placeholder="Enter unique Id">
                            <label for="stock_id1">Id</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="stock_cat" type="text" name="stockcat" required placeholder="Enter catagory of stock">
                            <label for="stock_cat">Catagory</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="stock_prize" type="text" name="stockprize" required placeholder="Enter prize per each item">
                            <label for="stock_prize">Prize</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="stock_quantity" type="text" name="stockquantity" required placeholder="Enter current quantity">
                            <label for="stock_quantity">Quantity</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="stock_empty" type="text" name="stockempty" required placeholder="Enter minimum amount of stock required">
                            <label for="stock_empty">Minimum required stock</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input class="btn blue" type="reset" value="reset">
                            <input class="btn green" type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
            <p style="padding-left: 5.5%;">
                <a href="/dashboard1/stocks/">Click to view stock records.</a>
            </p>
        </div>
    </div>
    <script>

        var date = new Date();
            var d = date.getDay();
            yr = date.getFullYear();
            mon = date.getMonth() + 1;
            dt = date.getDate();
            var str = "d";
            if (d == 0)
                str = "Sunday";
            if (d == 1)
                str = "Monday";
            if (d == 2)
                str = "Tuesday";
            if (d == 3)
                str = "Wednesday";
            if (d == 4)
                str = "Thursday";
            if (d == 5)
                str = "Friday";
            if (d == 6)
                str = "Saturday";
            var s=["JAN","FEB","MARCH","APRIL","MAY","JUNE","JULY","SEPT","OCT","NOV","DEC"];
            document.getElementById("date").innerHTML = "It's" + str;
            document.getElementById("day").innerHTML =  dt + " " + s[mon-1];

    </script>
</body>
</html>