
{%extends "loggedin.html" %}
{% block content %}
    {% if stock_object %}
    <table>
        <div class="teal lighten-2">
            <h6 style="padding-bottom: 7px;padding-top: 7px;color:black;" class="center large">Your search list.</h6>
        </div>
        {% for stock in stock_object %}
                <div class = "col s3">
                    <div class = "card-panel blue-grey lighten-4">
                        <div class = "card-content">
                            <span class = "card-title"><h3>{{stock.stock_id}}</h3><h5> {{stock.stock_name}} </h5><button href="/dashboard1/updatestockinfo/" class = "btn waves-effect waves-light blue-grey">
                            <i class = "material-icons">update</i></button>  </h3></span>
                            <p>Catagory : {{stock.stock_catagory}}<br>Prize : {{stock.stock_prize}}<br>Quantity : {{stock.stock_quantity}}<br>Barrier quantity : {{stock.stock_empty}}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </table>
    {% else %}
    <div class="red">
        <h6 style="padding-bottom: 7px;padding-top: 7px;color:black;" class="center large">There are no stock registered as per your searched name.</h6>
    </div>
    <div class="center"><a href="/dashboard1/addstockinfo/" class = "btn waves-effect waves-light green center" ><i class = "material-icons">add</i>Add stock</a></div>
    {% endif %}
{% endblock %}


<!--<!DOCTYPE html>

<head>
    <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script> 
    <title>search</title>
</head>

<body>

    {% if stock_object %}
    <table>
        {% for stock in stock_object %}
                <div class = "col s3">
                    <div class = "card-panel blue-grey lighten-4">
                        <div class = "card-content">
                            <span class = "card-title"><h3>{{stock.stock_id}} : {{stock.stock_name}} <button class = "btn waves-effect waves-light blue-grey">
                            <i class = "material-icons">share</i></button>  </h3></span>
                            <p>Prize : {{stock.stock_prize}}<br>Quantity : {{stock.stock_quantity}}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </table>
    {% else %}
    <h1>There are no stocks registered.</h1>
    {% endif %}
</body>
-->
