<!DOCTYPE html>
<html>
    <head>
        <title>
            email sent
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    </head>
    <body>
        <br>
        <div style="font-size:25px;" class="teal lighten-2 center"></div>
        <div style="font-size:25px;" class="teal lighten-2 center"></div>
        <br>
        <!--<div style="font-size:25px;" class="teal lighten-2 center"><a href="/logintestapp/login/">Login here</a></div>-->
    </body>
</html>