<!DOCTYPE html>
<html>
    <head>
        <title>
            forgot password home
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    </head>
    <body>
    <br>
        <div class="teal lighten-2 center" style="font-size: 30px;"><b>Forgot Password for {{username}}</b></div>
        <form action="/logintestapp/forgotpasswordsuccessfull/" method="POST" class="container login-form" style="padding-left: 10%;padding-right: 10%;">
            {% csrf_token %}
            <div class="row">
				<div class="input-field col s12">
					<i class="mdi-social-person-outline prefix"></i>
					<input disabled value="{{username}}" id="username1" type="text">
                    <input type="hidden" name="username" value="{{username}}">
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<i class="mdi-social-person-outline prefix"></i>
					<input disabled value="{{email}}" id="email1" type="text">
                    <input type="hidden" name="email" value="{{email}}">
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<i class="mdi-action-lock-outline prefix"></i>
					<input class="validate" id="password" name="password" type="password" placeholder="New Password" required>
					<label for="password" data-error="wrong" data-success="right" class="center-align"></label>
				</div>
			</div>
            <div class="row">
				<div class="center input-field col s12">
					<input style="width: 42em;" class="center btn teal lighten-2" type="submit" value="Reset Password">
				</div>
			</div>
        </form>
    </body>
</html>