<!DOCTYPE html>
<html>
    <head>
        <title>
            forgot password home
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    </head>
    <body>
        <br>
    	<div class="teal lighten-2 center" style="font-size: 40px;color: #000;"><b>Enter your Username</b></div>
        <form action="/logintestapp/forgotpassworduserverification/" method="POST" class="container login-form" style="padding-left: 10%;padding-right: 10%;">
            {% csrf_token %}
            <br>
            <div class="row">
				<div class="input-field col s12">
					<i class="mdi-social-person-outline prefix"></i>
					<input class="validate" id="username" name="username" type="text" placeholder="Username" required>
					<label for="text" data-error="wrong" data-success="right" class="center-align"></label>
				</div>
			</div>
            <div class="row">
				<div class="center input-field col s12">
					<input style="width: 52em;" class="center btn teal lighten-2" type="submit" value="Submit">
				</div>
			</div>
        </form>
    </body>
</html>